@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\000031}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000314}}
body, html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000316}}
img, fieldset, a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000318}}
input[type="submit"],
button {
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000321}}
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000324}}
textarea, input {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000326}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000328}}
input, button {
  margin: 0;
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000332}}
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000335}}
ul, ol {
  list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000338}}
  * {
    -webkit-text-size-adjust: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000340}}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../fonts/helveticaneuecyr-light-webfont.eot");
  src: url("../fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_common\.sass}line{font-family:\0000379}}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_common\.sass}line{font-family:\0000385}}
button, input, textarea {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_common\.sass}line{font-family:\0000392}}
button {
  background: none;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_common\.sass}line{font-family:\0000396}}
a {
  text-decoration: none;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_common\.sass}line{font-family:\00003100}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_wrapper\.sass}line{font-family:\000031}}
.wrapper {
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_screens\.sass}line{font-family:\000031}}
.screen {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_screens\.sass}line{font-family:\000039}}
  .screen .screen__in {
    min-height: 100%;
    height: 100%;
    overflow: auto;
    background-image: url(../img/background/main.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_screens\.sass}line{font-family:\0000318}}
  .screen .screen__bg {
    overflow: auto;
    margin: 0 auto;
    min-height: 100%;
    padding: 20px;
    background: url(../img/background/polygon.png) no-repeat 100% 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_screens\.sass}line{font-family:\0000326}}
.iframe .screen .screen__in, .iframe .screen .screen__bg {
  background: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\000031}}
.form {
  width: 226px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000344}}
.btn {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  border: 1px solid #fff;
  font-size: 14px;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000351}}
  .btn.btn_red {
    background: #ff3e4b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000383}}
.fieldset {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003187}}
  .fieldset:after {
    content: " ";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000386}}
.field {
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000389}}
  .field.is-error .input, .field.is-error .textarea {
    background: #febbbb;
    box-shadow: 0 0 0 1px #ff3e4b inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000393}}
  .field .field__label {
    margin-bottom: 5px;
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\0000396}}
  .field .field__notice {
    color: #000;
    margin-top: 3px;
    font-size: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003100}}
  .field .field__warning {
    color: #ff3e4b;
    margin-top: 3px;
    font-size: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003104}}
  .field .field__el {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003106}}
  .field .field__placeholder {
    position: absolute;
    top: 0;
    right: 15px;
    height: 39px;
    line-height: 39px;
    color: #bababa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003114}}
  .field.field__cardholder input {
    text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003202}}
  .field.field_issued_at .input:-ms-input-placeholder {
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003204}}
  .field.field_issued_at .input:-moz-placeholder {
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003206}}
  .field.field_issued_at .input::-moz-placeholder {
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003208}}
  .field.field_issued_at .input::-webkit-input-placeholder {
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003210}}
  .field.field_issued_at .input::-webkit-input-placeholder {
    letter-spacing: 1px; }
  .field.field_issued_at .input::-moz-placeholder {
    letter-spacing: 1px; }
  .field.field_issued_at .input:-ms-input-placeholder {
    letter-spacing: 1px; }
  .field.field_issued_at .input::placeholder {
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003121}}
  .field.field_issued_at .field__el + .field__el label.error {
    margin-left: -60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003124}}
  .field.field_issued_at label.error {
    float: left;
    min-width: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003127}}
  .field.field_issued_at .field__el {
    width: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003129}}
    .field.field_issued_at .field__el .input {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003132}}
  .field.field_secure .field__el {
    width: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003134}}
    .field.field_secure .field__el .input {
      text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003137}}
.input {
  width: 100%;
  height: 39px;
  background: #fff;
  padding: 0 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003142}}
  .input.error:focus {
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003146}}
  .input:disabled {
    opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_form\.sass}line{font-family:\00003149}}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\000031}}
.info {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003187}}
  .info:after {
    content: " ";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\000034}}
  .info .info__in {
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\000037}}
    .info .info__in p {
      margin-top: -3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\000039}}
  .info .info__ico {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: 1px solid #fff;
    text-align: center;
    text-align: center;
    font-size: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003179}}
    .info .info__ico:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\0000317}}
    .info .info__ico .icon {
      vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\0000319}}
    .info .info__ico .icon-info, .info .info__ico .icon-lock {
      font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_info\.sass}line{font-family:\0000321}}
    .info .info__ico span {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_paysys\.sass}line{font-family:\000031}}
.paysys {
  margin-bottom: 25px;
  font-size: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_paysys\.sass}line{font-family:\000038}}
  .paysys i {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\000032}}
.mobile .addcard__in {
  -webkit-animation: none;
  animation: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\000035}}
.addcard {
  margin: 0 auto;
  max-width: 320px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000310}}
  .addcard .addcard__in {
    margin-top: 20px;
    padding: 20px 20px 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -1px 1px 0 1px rgba(255, 255, 255, 0.5);
    -webkit-user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000323}}
    .addcard .addcard__in .field_double {
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000325}}
      .addcard .addcard__in .field_double .field__el {
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000327}}
        .addcard .addcard__in .field_double .field__el + .field__el {
          margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000329}}
    .addcard .addcard__in .field_right {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000332}}
    .addcard .addcard__in .field__el .paysys {
      position: absolute;
      top: 9px;
      right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000337}}
    .addcard .addcard__in .fieldset > .icon {
      float: right;
      margin: 21px 8px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000343}}
  .addcard .info {
    margin: 20px 0;
    font-size: 11px;
    -webkit-user-select: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000348}}
    .addcard .info:first-child {
      margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_addcard\.sass}line{font-family:\0000351}}
  .addcard .form {
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\000033}}
.toast.is-active {
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\000038}}
.toast {
  z-index: 9999999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000322}}
  .toast .icon {
    font-size: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000325}}
  .toast.toast_text .toast__icon {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000328}}
  .toast.toast_success .toast__in .toast__icon {
    color: #3aca5f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000331}}
  .toast.toast_error .toast__in .toast__icon {
    color: #ff3e4b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000334}}
  .toast .toast__in {
    position: relative;
    outline: 2px solid #fff;
    outline-offset: 2px;
    max-width: 320px;
    margin: 150px auto 0;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000345}}
    .toast .toast__in .toast__icon {
      position: absolute;
      text-align: center;
      color: #3aca5f;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000350}}
      .toast .toast__in .toast__icon .toast__icon__in {
        margin-top: -15px;
        background-color: white;
        display: inline-block;
        line-height: 0;
        vertical-align: top;
        border-radius: 50%;
        font-size: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000359}}
    .toast .toast__in .toast__content {
      pointer-events: auto;
      background-color: #fff;
      color: #2b2b2b;
      text-align: center;
      padding: 20px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000366}}
      .toast .toast__in .toast__content .btn {
        margin-top: 15px;
        transition: background-color 0.5s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/_toast\.sass}line{font-family:\0000369}}
      .toast .toast__in .toast__content .btn_red:hover {
        background: #fd2e36; }

@-webkit-keyframes shakeAnimation {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg); }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg); }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg); }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes shakeAnimation {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg); }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg); }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg); }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/animations\/_shake\.sass}line{font-family:\0000344}}
.shake {
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: shakeAnimation;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: shakeAnimation; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes submitButtonAnimation {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: -300% 0%; } }
@keyframes submitButtonAnimation {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: -300% 0%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/animations\/_button_active\.sass}line{font-family:\000038}}
.btn_submit.active {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA4NDI5MSIgeTE9IjAuNjM0ODk0IiB4Mj0iMS4wODQyOTEiIHkyPSIwLjM2NTEwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWEwMCIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmY5NTVjIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZDJlMzYiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmM2U0YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNWEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: linear-gradient(77deg, #ff5a00, #ff955c, #fd2e36, #ff3e4b, #ff5a00);
  background-size: 300% 100%;
  -webkit-animation: submitButtonAnimation 3.5s linear infinite;
  animation: submitButtonAnimation 3.5s linear infinite; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/animations\/_button_active\.sass}line{font-family:\0000310}}
  .btn_submit.active:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000322}}
label.error {
  display: inline-block;
  margin-top: 5px;
  color: #ff3e4b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000326}}
.input.error {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000330}}
.field_secure label.error {
  min-width: 120px;
  text-align: right;
  float: right;
  max-width: 145px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000337}}
.provider-icons {
  text-align: center;
  margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000341}}
  .provider-icons li {
    margin-right: 10px;
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000348}}
    .provider-icons li:hover {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000351}}
    .provider-icons li:last-child {
      margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000353}}
.text_box {
  background: white;
  max-width: 320px;
  margin: 20% auto 10px;
  color: #000;
  padding: 20px 20px 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: -1px 1px 0 1px rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/travis\/build\/Nebo15\/mbank\.web\.paymentform\/src\/sass\/screen\.sass}line{font-family:\0000371}}
  .text_box a {
    color: #ff3e4b;
    text-decoration: underline; }
