@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; box-sizing: border-box; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea, input { box-sizing: border-box; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: HelveticaNeue-Light; src: url("fonts/helveticaneue-ultralight.eot"); src: url("fonts/helveticaneue-ultralight.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneue-ultralight.woff") format("woff"), url("fonts/helveticaneue-ultralight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 1.3; color: #fff; }

button, input, textarea { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; appearance: none; -webkit-appearance: none; border-radius: 0; }

button { background: none; color: #fff; }

a { text-decoration: none; color: #fff; }

.wrapper { width: 100%; height: 100%; }

.screen { height: 100%; -webkit-overflow-scrolling: touch; overflow: auto; }
.screen .screen__in { min-height: 100%; height: 100%; overflow: auto; background-image: url(../img/background.jpg); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
.screen .screen__bg { overflow: auto; margin: 0 auto; min-height: 100%; padding: 20px; background: url(../img/bg-picture.png) no-repeat 100% 100%; }

.link { display: inline-block; padding-bottom: 3px; border-bottom: 1px solid rgba(255, 255, 255, 0.3); opacity: 0.7; font-size: 22px; }

@font-face { font-family: "icomoon"; src: url("fonts/icomoon.eot?-w2r1bz"); src: url("fonts/icomoon.eot?#iefix-w2r1bz") format("embedded-opentype"), url("fonts/icomoon.woff?-w2r1bz") format("woff"), url("fonts/icomoon.ttf?-w2r1bz") format("truetype"), url("fonts/icomoon.svg?-w2r1bz#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-card:before { content: ""; }

.icon-locked:before { content: ""; }

.form { width: 226px; margin: 0 auto; }
.form.form_mb35 { margin: 0 auto 20px; }
.form .form__links { padding-top: 12px; *zoom: 1; }
.form .form__links:after { content: " "; display: table; clear: both; }
.form .form__links .link { float: right; }
.form .form__links .link:first-child { float: left; }
.form .form__add-cart { margin: 30px 0 26px; }
.form .form__add-cart a { position: relative; display: block; padding-bottom: 8px; border-bottom: 1px solid #fff; color: #FFC9AC; }
.form .form__add-cart a .icon-arrow-right { position: relative; top: 1px; float: right; font-size: 12px; color: #fff; }
.form .form__btns { margin: 45px 0 0; *zoom: 1; }
.form .form__btns:after { content: " "; display: table; clear: both; }
.form .form__btns .btn { float: right; width: 104px; margin: 0; }
.form .form__btns .btn:first-child { float: left; }
.form .form__btns_rows .btn { float: none; width: 166px; }
.form .form__btns_rows .btn:first-child { float: none; margin-bottom: 10px; }
.form .field, .form .btn { margin-bottom: 10px; }

.btn { width: 100%; height: 39px; padding: 0 10px; border: 1px solid #fff; font-size: 14px; }
.btn.btn_red { background: #ff3e4b; }
.btn.btn_red-gradient, .btn.btn_orange-gradient { border: none; background-color: #EC2845; box-shadow: -1.3px 1.6px 2px rgba(75, 24, 80, 0.11), inset 0 1px 0 rgba(255, 255, 255, 0.21); }
.btn.btn_red-gradient { background-image: linear-gradient(12deg, #ec2845 0%, #f95c73 100%); }
.btn.btn_orange-gradient { background-image: linear-gradient(12deg, #ff3c00 0%, #ff9138 100%); }
.btn.btn_orange { background: #ff5a00; }
.btn.btn_w410 { display: block; width: 210px; margin: 0 auto; }
.btn.btn_mb35 { margin: 0 auto 18px; }
.btn.btn_mb45 { margin: 0 auto 23px; }
.btn.btn_no-border { border: none; }
.btn.btn_arrow { position: relative; overflow: auto; }
.btn.btn_arrow .icon { position: absolute; top: 17px; right: 19px; font-size: 7px; }

.fieldset { *zoom: 1; }
.fieldset:after { content: " "; display: table; clear: both; }

.field { margin-bottom: 15px; }
.field.is-error .input, .field.is-error .textarea { background: #febbbb; box-shadow: 0 0 0 1px #ff3e4b inset; }
.field .field__label { margin-bottom: 5px; color: #000; }
.field .field__notice { color: #000; margin-top: 3px; font-size: 11px; }
.field .field__el { position: relative; }
.field .field__placeholder { position: absolute; top: 0; right: 15px; height: 39px; line-height: 39px; color: #bababa; }
.field.field__cardholder input { text-transform: uppercase; }
.field.field_issued_at .input:-ms-input-placeholder { letter-spacing: 1px; }
.field.field_issued_at .input:-moz-placeholder { letter-spacing: 1px; }
.field.field_issued_at .input::-moz-placeholder { letter-spacing: 1px; }
.field.field_issued_at .input::-webkit-input-placeholder { letter-spacing: 1px; }
.field.field_issued_at .input::placeholder { letter-spacing: 1px; }
.field.field_issued_at .field__el { width: 50px; }
.field.field_issued_at .field__el .input { text-align: center; }
.field.field_secure .field__el { width: 50px; }
.field.field_secure .field__el .input { text-align: center; }

.input { width: 100%; height: 39px; background: #fff; padding: 0 8px; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

.label_block { display: inline-block; }

.info { *zoom: 1; }
.info:after { content: " "; display: table; clear: both; }
.info .info__in { display: table; }
.info .info__in p { margin-top: -3px; }
.info .info__ico { float: left; width: 30px; height: 30px; margin-right: 15px; border: 1px solid #fff; text-align: center; text-align: center; font-size: 0; }
.info .info__ico:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.info .info__ico .icon { vertical-align: middle; }
.info .info__ico .icon-info, .info .info__ico .icon-locked { font-size: 16px; }
.info .info__ico span { display: inline-block; vertical-align: middle; font-size: 16px; }

.paysys { margin-bottom: 25px; font-size: 0; }
.paysys.paysys_right { text-align: right; }
.paysys.paysys_right a { margin: 0 0 0 10px; }
.paysys i { display: block; background: url('../img/icons-s52234b5728.png') 0 0 no-repeat; background-position: 0 0; width: 18px; height: 11.5px; -moz-background-size: 88px 312px; -webkit-background-size: 88px 312px; background-size: 88px 312px; margin-top: 5px; }
.paysys i.visa, .paysys i.mastercard { margin-top: 0; }
.paysys .visa { background: url('../img/icons-s52234b5728.png') 0 -456px no-repeat; background-position: 0 -228px; width: 36px; height: 21px; -moz-background-size: 88px 312px; -webkit-background-size: 88px 312px; background-size: 88px 312px; }
.paysys .mastercard { background: url('../img/icons-s52234b5728.png') 0 -174px no-repeat; background-position: 0 -87px; width: 36px; height: 21px; -moz-background-size: 88px 312px; -webkit-background-size: 88px 312px; background-size: 88px 312px; }
.paysys img { border: 1px solid rgba(199, 196, 196, 0.42); height: 100%; }

.addcard { margin: 0 auto; max-width: 320px; }
.addcard .addcard__in { margin-top: 20px; padding: 20px 20px 10px; margin-bottom: 10px; background: rgba(255, 255, 255, 0.8); box-shadow: -1px 1px 0 1px rgba(255, 255, 255, 0.5); -webkit-user-select: none; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.addcard .addcard__in .field_double { float: left; }
.addcard .addcard__in .field_double .field__el { float: left; }
.addcard .addcard__in .field_double .field__el + .field__el { margin-left: 10px; }
.addcard .addcard__in .field_right { float: right; }
.addcard .addcard__in .field__el .paysys { position: absolute; top: 9px; right: 8px; }
.addcard .addcard__in .fieldset > .icon { float: right; margin: 21px 8px 0 0; }
.addcard .addcard__in .icon-card { font-size: 39px; color: #ff3e4b; }
.addcard .info { margin: 20px 0; font-size: 11px; }
.addcard .info:first-child { margin-top: 0; }
.addcard .form { text-align: center; }

@-moz-keyframes shakeAnimation { 0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  12.5% { -webkit-transform: translateX(-6px) rotateY(-5deg); -moz-transform: translateX(-6px) rotateY(-5deg); -ms-transform: translateX(-6px) rotateY(-5deg); -o-transform: translateX(-6px) rotateY(-5deg); transform: translateX(-6px) rotateY(-5deg); }
  37.5% { -webkit-transform: translateX(5px) rotateY(4deg); -moz-transform: translateX(5px) rotateY(4deg); -ms-transform: translateX(5px) rotateY(4deg); -o-transform: translateX(5px) rotateY(4deg); transform: translateX(5px) rotateY(4deg); }
  62.5% { -webkit-transform: translateX(-3px) rotateY(-2deg); -moz-transform: translateX(-3px) rotateY(-2deg); -ms-transform: translateX(-3px) rotateY(-2deg); -o-transform: translateX(-3px) rotateY(-2deg); transform: translateX(-3px) rotateY(-2deg); }
  87.5% { -webkit-transform: translateX(2px) rotateY(1deg); -moz-transform: translateX(2px) rotateY(1deg); -ms-transform: translateX(2px) rotateY(1deg); -o-transform: translateX(2px) rotateY(1deg); transform: translateX(2px) rotateY(1deg); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes shakeAnimation { 0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  12.5% { -webkit-transform: translateX(-6px) rotateY(-5deg); -moz-transform: translateX(-6px) rotateY(-5deg); -ms-transform: translateX(-6px) rotateY(-5deg); -o-transform: translateX(-6px) rotateY(-5deg); transform: translateX(-6px) rotateY(-5deg); }
  37.5% { -webkit-transform: translateX(5px) rotateY(4deg); -moz-transform: translateX(5px) rotateY(4deg); -ms-transform: translateX(5px) rotateY(4deg); -o-transform: translateX(5px) rotateY(4deg); transform: translateX(5px) rotateY(4deg); }
  62.5% { -webkit-transform: translateX(-3px) rotateY(-2deg); -moz-transform: translateX(-3px) rotateY(-2deg); -ms-transform: translateX(-3px) rotateY(-2deg); -o-transform: translateX(-3px) rotateY(-2deg); transform: translateX(-3px) rotateY(-2deg); }
  87.5% { -webkit-transform: translateX(2px) rotateY(1deg); -moz-transform: translateX(2px) rotateY(1deg); -ms-transform: translateX(2px) rotateY(1deg); -o-transform: translateX(2px) rotateY(1deg); transform: translateX(2px) rotateY(1deg); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
@-o-keyframes shakeAnimation { 0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  12.5% { -webkit-transform: translateX(-6px) rotateY(-5deg); -moz-transform: translateX(-6px) rotateY(-5deg); -ms-transform: translateX(-6px) rotateY(-5deg); -o-transform: translateX(-6px) rotateY(-5deg); transform: translateX(-6px) rotateY(-5deg); }
  37.5% { -webkit-transform: translateX(5px) rotateY(4deg); -moz-transform: translateX(5px) rotateY(4deg); -ms-transform: translateX(5px) rotateY(4deg); -o-transform: translateX(5px) rotateY(4deg); transform: translateX(5px) rotateY(4deg); }
  62.5% { -webkit-transform: translateX(-3px) rotateY(-2deg); -moz-transform: translateX(-3px) rotateY(-2deg); -ms-transform: translateX(-3px) rotateY(-2deg); -o-transform: translateX(-3px) rotateY(-2deg); transform: translateX(-3px) rotateY(-2deg); }
  87.5% { -webkit-transform: translateX(2px) rotateY(1deg); -moz-transform: translateX(2px) rotateY(1deg); -ms-transform: translateX(2px) rotateY(1deg); -o-transform: translateX(2px) rotateY(1deg); transform: translateX(2px) rotateY(1deg); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
@-ms-keyframes shakeAnimation { 0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  12.5% { -webkit-transform: translateX(-6px) rotateY(-5deg); -moz-transform: translateX(-6px) rotateY(-5deg); -ms-transform: translateX(-6px) rotateY(-5deg); -o-transform: translateX(-6px) rotateY(-5deg); transform: translateX(-6px) rotateY(-5deg); }
  37.5% { -webkit-transform: translateX(5px) rotateY(4deg); -moz-transform: translateX(5px) rotateY(4deg); -ms-transform: translateX(5px) rotateY(4deg); -o-transform: translateX(5px) rotateY(4deg); transform: translateX(5px) rotateY(4deg); }
  62.5% { -webkit-transform: translateX(-3px) rotateY(-2deg); -moz-transform: translateX(-3px) rotateY(-2deg); -ms-transform: translateX(-3px) rotateY(-2deg); -o-transform: translateX(-3px) rotateY(-2deg); transform: translateX(-3px) rotateY(-2deg); }
  87.5% { -webkit-transform: translateX(2px) rotateY(1deg); -moz-transform: translateX(2px) rotateY(1deg); -ms-transform: translateX(2px) rotateY(1deg); -o-transform: translateX(2px) rotateY(1deg); transform: translateX(2px) rotateY(1deg); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
@keyframes shakeAnimation { 0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
  12.5% { -webkit-transform: translateX(-6px) rotateY(-5deg); -moz-transform: translateX(-6px) rotateY(-5deg); -ms-transform: translateX(-6px) rotateY(-5deg); -o-transform: translateX(-6px) rotateY(-5deg); transform: translateX(-6px) rotateY(-5deg); }
  37.5% { -webkit-transform: translateX(5px) rotateY(4deg); -moz-transform: translateX(5px) rotateY(4deg); -ms-transform: translateX(5px) rotateY(4deg); -o-transform: translateX(5px) rotateY(4deg); transform: translateX(5px) rotateY(4deg); }
  62.5% { -webkit-transform: translateX(-3px) rotateY(-2deg); -moz-transform: translateX(-3px) rotateY(-2deg); -ms-transform: translateX(-3px) rotateY(-2deg); -o-transform: translateX(-3px) rotateY(-2deg); transform: translateX(-3px) rotateY(-2deg); }
  87.5% { -webkit-transform: translateX(2px) rotateY(1deg); -moz-transform: translateX(2px) rotateY(1deg); -ms-transform: translateX(2px) rotateY(1deg); -o-transform: translateX(2px) rotateY(1deg); transform: translateX(2px) rotateY(1deg); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
.shake { -webkit-animation-duration: 400ms; -webkit-animation-timing-function: ease-in-out; -webkit-animation-name: shakeAnimation; -moz-animation-duration: 400ms; -moz-animation-timing-function: ease-in-out; -moz-animation-name: shakeAnimation; }

@keyframes submitButtonAnimation { 0% { background-position: 0% 0%; }
  100% { background-position: -300% 0%; } }
@-webkit-keyframes submitButtonAnimation { 0% { background-position: 0% 0%; }
  100% { background-position: -300% 0%; } }
.btn_submit.active { background: -webkit-linear-gradient(13deg, #ff5a00, #ff955c, #fd2e36, #ff3e4b, #ff5a00); background: linear-gradient(77deg, #ff5a00, #ff955c, #fd2e36, #ff3e4b, #ff5a00); background-size: 300% 100%; -webkit-animation: submitButtonAnimation 3.5s linear infinite; animation: submitButtonAnimation 3.5s linear infinite; }

label.error { display: inline-block; margin-top: 5px; color: #ff3e4b; }

.input.error { background-color: rgba(255, 0, 0, 0.1); border: 1px solid rgba(255, 0, 0, 0.3); }

.field_secure label.error { min-width: 300px; text-align: right; position: absolute; top: 40px; right: 0; }

.provider-icons { text-align: center; margin-top: 15px; }
.provider-icons li { margin-right: 10px; display: inline-block; opacity: 0.5; transition: opacity 0.5s ease; }
.provider-icons li:hover { opacity: 1; }
.provider-icons li:last-child { margin-right: 0; }
.provider-icons li img { width: 50px; }
