// done by Coderiver.com.ua

//wrapper, screen, head, addcard, info, paysy, field, , input, fieldset, form, icon, btn, link
// icon-card, icon-locked
@import lib/base
@import reset

@import common
@import wrapper
@import screens
@import link
@import icons
@import form
@import info
@import paysys
@import addcard


label.error
  display: inline-block
  margin-top: 5px
  color: $red
.input.error
  background-color: rgba(255,0,0,.1)
  border: 1px solid rgba(255,0,0,.3)
.field_secure
  label.error
    min-width: 300px
    text-align: right
    position: absolute
    top: 40px
    right: 0