=inline-svg($file, $width, $height)
  background-image: inline-image($file, 'image/svg+xml')
  background-size: #{$width}px #{$height}px
  background-repeat: no-repeat
  background-position: top left
  width: #{$width}px
  height: #{$height}px
  display: inline-block

=inline-png($file, $width, $height)
  background-image: inline-image($file)
  background-size: #{$width}px #{$height}px
  background-repeat: no-repeat
  background-position: top left
  width: #{$width}px
  height: #{$height}px
  display: inline-block

// Partner icons
.icon-partner-visa
  +inline-svg('icons/partners/visa.svg', 50, 15)

.icon-partner-mastercard
  +inline-svg('icons/partners/mastercard.svg', 50, 31)

.icon-partner-visa-verified
  +inline-svg('icons/partners/visa_verified.svg', 50, 28)

.icon-partner-pci-dss
  +inline-svg('icons/partners/pci_dss.svg', 50, 33)

// Suggested providers
.icon-provider-visa
  +inline-png('icons/providers/visa.png', 36, 21)

.icon-provider-mastercard
  +inline-png('icons/providers/mastercard.png', 36, 21)

// General icons
.icon-card-back
  +inline-svg('icons/card_back.svg', 62, 39)

.icon-card-front
  +inline-svg('icons/card_front.svg', 36, 21)

.icon-lock
  +inline-svg('icons/lock.svg', 13, 16)
