//wrapper, screen, head, addcard, info, paysy, field, , input, fieldset, form, icon, btn, link
// icon-card, icon-locked
@import compass/css3
@import lib/mixins
@import lib/media
@import lib/reset

@import common
@import wrapper
@import screens
@import link
@import form
@import info
@import paysys
@import addcard
@import toast
@import animations/shake
@import animations/fade
@import animations/button_active


label.error
  display: inline-block
  margin-top: 5px
  color: $red
.input.error
  background-color: rgba(255,0,0,.1)
  border: 1px solid rgba(255,0,0,.3)
.field_secure
  label.error
    min-width: 130px
    text-align: right
    position: absolute
    top: 40px
    right: 0
    max-width: 145px


.provider-icons
  text-align: center
  margin-top: 20px

  li
    margin-right: 10px
    display: inline-block
    opacity: 0.5
    transition: opacity 0.5s ease
    vertical-align: middle

    &:hover
      opacity: 1

    &:last-child
      margin-right: 0
